body {
}
a:hover{
    cursor:pointer;
}
#song{
	position:fixed;
	left:130px;
}
#artist{
	position:fixed;
	left:480px;
}
#about{
	position:fixed;
	left:830px;
}
#contact{
	position:fixed;
	left:1100px;
}